@{
    ViewData["Title"] = "Step 3.1";
    ViewData["Css"] = "/css/Progress_Step_3-1.css";
}
<div class="main-container">
    <div class="main-left">
        <div class="logo">
            <img src="~/images/logo.jpg" />
        </div>
        <div class="label">
            Food Penguin
        </div>
        <hr />
        <div class="menu">
            <div class="item item-1">
                <i class="fa-solid fa-utensils"></i>
                <div class="text">รายการทั้งหมด</div>
            </div>
            <div class="item item-2">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <div class="text">ประวัติการตั้งรับ - ฝาก</div>
            </div>
            <hr />
            <div class="item item-3 active">
                <i class="fa-solid fa-spinner"></i>
                <div class="text">กำลังดำเนินการ</div>
            </div>
        </div>
    </div>
    <div class="main-right">
        <div class="header">
            <div class="title">
                <div class="back-btn active" onclick="history.back">
                    <i class="fas fa-angle-left"></i>
                </div>
                รายการทั้งหมด
            </div>
            <div class="profile">
                <div class="name">Kotcharat Kung</div>
                <div class="image">
                    <img src="~/images/logo.jpg" />
                </div>
                <div class="dropdown">
                    <i class="fa-solid fa-sort-down"></i>
                </div>

                <div class="dropdown-content">
                    <div class="dropdown-item dropdown-item-1">
                        <i class="fas fa-pen"></i> &nbsp; แก้ไขโปรไฟล์
                    </div>
                    <div class="dropdown-item dropdown-item-2">
                        <i class="fas fa-door-open"></i> &nbsp;
                        ออกจากระบบ
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="bigContentBox">
                <div class="contentBox">
                    <div class="loadIcon"><h1><i class="fa-solid fa-circle-check bigIcon"></i><br>เสร็จสิ้น</h1></div>
                    <hr>
                    <div class="location margin-l"><span>สถานที่ร้าน: <span class="text-bold" id="location_name"></span></span></div>
                    <div class="store margin-l"><span>ร้านที่สั่ง: <span class="text-bold" id="market_name"></span></span></div>
                    <div class="status margin-l"><span>สถานะ: <span class="text-Green text-bold" id="owner"></span></span></div>
                    <hr>
                    <div class="List">
                        <div class="list margin-l"><span class="text-bold">รายการอาหาร: </span><ul id="food_detail"></ul></div>
                        <div class="price"><span class="text-bold">ราคา</span><div class="priceList" id="food_price"></div></div>
                    </div>
                    <div class="Summary"><span class="text-bold">ราคารวม: </span><span id="sumPrice"></span></div>

                    <div class="enterBT"><button onclick="submit()">ตกลง</button></div>

                </div>
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="menu">
            <div class="item item-1">
                <i class="fa-solid fa-utensils"></i>
            </div>
            <div class="item item-2">
                <i class="fa-solid fa-clock-rotate-left"></i>
            </div>
            <div class="item item-3 active">
                <i class="fa-solid fa-spinner"></i>
            </div>
        </div>
    </div>
</div>
<script>
    var id = parseInt(window.location.search.replace("?id=", ""));
    setTimeout(() => {
        loadData()
    }, 100);

    function loadData() {
        $.ajax({
            url:
                `../Order/getOrderDetailByID`,
            type: "GET",
            data: { order_id: id },
            success: function (data) {

                //Change Page By Status
                if (data.value.status != 4) {
                    switch (data.value.status) {
                        case 0:
                            location.href = `/Home/Progress_Step_0_Cancel`
                            break;
                        case 1:
                            location.href = `/Home/Order_Progress_Step_1?id=${id}`
                            break;
                        case 2:
                            location.href = `/Home/Order_Progress_Step_2?id=${id}`
                            break;
                        case 3:
                            location.href = `/Home/Order_Progress_Step_3?id=${id}`
                            break;
                        case 4:
                            location.href = `/Home/Order_Progress_Step_3_1?id=${id}`
                            break;
                        case 5:
                            location.href = `/Home/Progress_Step_4_Success`
                            break;
                    }
                    return;
                }

                $("#location_name").html(data.value.location_name);
                $("#market_name").html(data.value.market_name);
                $("#remark").html(data.value.remark);
                $("#owner").html(`${data.value.owner_recvp_user_name} (ผู้รับ)`);

                $("#food_detail").html("");
                data.value.food.forEach((item, index) => {
                    var objectHTML_detail = `<li id="food-id-${item.food_id}">
                                                        <div class="name">${item.name} ${item.amount}</div>
                                                     </li>`;
                    $("#food_detail").append(objectHTML_detail);
                });


                $.ajax({
                    url:
                        `../Process_Food/getProcessFoodDetailByOrderID`,
                    type: "GET",
                    data: { order_id: id },
                    success: function (data) {

                        $("#food_price").html("");
                        var sumPrice = 0;
                        $("#sumPrice").html("");

                        data.value.forEach((item, index) => {
                            sumPrice += item.price;

                            var objectHTML_price = `${item.price} บาท<br>`;

                            if (item.remark != null) {
                                var objectHTML_remark = `<div class="food-remark text-Red">* ${item.remark} *</div>`;
                                $(`#food-id-${item.food_id}`).append(objectHTML_remark);

                                objectHTML_price += "<br>";
                            }

                            $("#food_price").append(objectHTML_price);
                        });
                        $("#sumPrice").html(`${sumPrice} บาท`);
                    },
                    error: function (error) {
                        console.log(`Error ${error}`);
                    }
                });

            },
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
    }

    function submit() {
        $.ajax({
            url: `../Process_Order/updateProcessOrderByOrderID`,
            type: "PUT",
            data: JSON.stringify({ order_id: id, status: 5 }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data);
                loadData();
            },
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
    }


</script>