@{
    ViewData["Title"] = "Progress Cancel";
    ViewData["Css"] = "/css/Progress_Step_0_Cancel.css";
}
<div class="main-container">
    <div class="main-left">
        <div class="logo">
            <img src="~/images/logo.jpg" />
        </div>
        <div class="label">
            Food Penguin
        </div>
        <hr />
        <div class="menu">
            <div class="item item-1">
                <i class="fa-solid fa-utensils"></i>
                <div class="text">รายการทั้งหมด</div>
            </div>
            <div class="item item-2">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <div class="text">ประวัติการตั้งรับ - ฝาก</div>
            </div>
            <hr />
            <div class="item item-3 active">
                <i class="fa-solid fa-spinner"></i>
                <div class="text">กำลังดำเนินการ</div>
            </div>
        </div>
    </div>
    <div class="main-right">
        <div class="header">
            <div class="title">
                <div class="back-btn active" onclick="history.back">
                    <i class="fas fa-angle-left"></i>
                </div>
                รายการทั้งหมด
            </div>
            <div class="profile">
                <div class="name">Kotcharat Kung</div>
                <div class="image">
                    <img src="~/images/logo.jpg" />
                </div>
                <div class="dropdown">
                    <i class="fa-solid fa-sort-down"></i>
                </div>

                <div class="dropdown-content">
                    <div class="dropdown-item dropdown-item-1">
                        <i class="fas fa-pen"></i> &nbsp; แก้ไขโปรไฟล์
                    </div>
                    <div class="dropdown-item dropdown-item-2">
                        <i class="fas fa-door-open"></i> &nbsp;
                        ออกจากระบบ
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="bigcontainer">
                <div class="contentBox">
                    <div class="boxmenu">
                        <div class="textCancel"><i class="fa-solid fa-circle-xmark icon fa-bounce"></i><h1>คำสั่งนี้ถูกยกเลิกแล้ว</h1></div>
                        <div class="enterBT"><button onclick="location.href='/Home/Main'">รับทราบ</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="menu">
            <div class="item item-1">
                <i class="fa-solid fa-utensils"></i>
            </div>
            <div class="item item-2">
                <i class="fa-solid fa-clock-rotate-left"></i>
            </div>
            <div class="item item-3 active">
                <i class="fa-solid fa-spinner"></i>
            </div>
        </div>
    </div>
</div>