@{
    ViewData["Title"] = "Get Starter - 1";
    ViewData["Css"] = "/css/starter1.css";
}
<div class="backdrop-container">
    <div class="modal">
        <div class="back">
            <div class="logo"><img src="~/images/logo.jpg" class="logo1"></div>
            <div class="title">
                <div class="from"><h1>กรอกข้อมูล</h1></div>
                <div class="name"><input class="fname pl-15" type="text" placeholder="Firstname"><input class="pl-15" type="text" placeholder="Lastname"></div>
                <div class="fullname"><input class="fullname1 pl-15" type="text" placeholder="Full Name"></div>
                <div class="nname"><input class="nickname pl-15" type="text" placeholder="Nickname"></div>
                <div class="file">
                    <input class="select pl-15" type="text" placeholder="Filename.png" disabled>
                    <label class="upload" for="up2">Select</label>
                    <input id="up2" class="file2" type="file">
                </div>
                <div class="wr"><h1>*ใส่รูป QR ได้ที่ปุ่ม Upload ข้างล่างเลยครับ</h1></div>
            </div>

            <div class="skip">
                <div class="dot special-dot">
                    <i class="fa-solid fa-circle c1 fa-bounce"></i>
                    <i class="fa-regular fa-circle c2 "></i>
                    <i class="fa-regular fa-circle c3 "></i>
                </div>
                <button class="next">Next</button>
            </div>
        </div>
    </div>
</div>