@{
    ViewData["Title"] = "Get Starter - 2";
    ViewData["Css"] = "/css/starter1.css";
}
<div class="backdrop-container">
    <div class="modal">
        <div class="back">
            <div class="logos21"><img src="~/images/logo.jpg" class="logos22"></div>
            <div class="title2">
                <div class="from2"><h1>ต้องการเปลี่ยนรหัสผ่านหรือไม่</h1></div>
                <div class="pass"><input class="pass1 " type="text" placeholder="Password (requirement)"></div>
                <div class="cpass"><input class="conpass " type="text" placeholder="Confirm Password (requirement)"></div>

                <div class="wr"><h1>*กด Skip ในกรณีที่ไม่ต้องการเปลี่ยนรหัส</h1></div>
            </div>

            <div class="skip">
                <div class="dot">
                    <i class="fa-regular fa-circle c2 "></i>
                    <i class="fa-solid fa-circle c1 fa-bounce"></i>
                    <i class="fa-regular fa-circle c3 "></i>
                </div>
                <button class="bk">Back</button>
                <button class="sk">Skip</button>
                <button class="nexts2">Next</button>
            </div>
        </div>
    </div>
</div>