@{
    ViewData["Title"] = "Get Starter - 3";
    ViewData["Css"] = "/css/starter1.css";
}
<div class="backdrop-container">
    <div class="modal">
        <div class="back">
            <div class="logo3"><img src="~/images/logo.jpg" class="logo4"></div>
            <div class="tit">
                <div class="tit1"><h1>ยินดีต้อนรับ</h1></div>
                <div class="tit2"><h1>ชื่อคนสมัคร</h1></div>
            </div>
            <div class="skip">
                <button class="st">Get Start</button>
            </div>
        </div>
    </div>
</div>